.grid-container {
    display: grid;
    grid-template-columns: repeat(18, 50px);
    /* 18 columnas */
    grid-template-rows: repeat(7, 30px);
    /* 7 filas */
    justify-content: center;
}

.grid-container>div {
    background-color: #f1f1f1;
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
}

/* Sección 1 con color #F7CAAC */
.seccion-1 {
    background-color: #F7CAAC !important;
}

.seccion-2 {
    background-color: #FFE599 !important;
}

.seccion-4 {
    background-color: #8EAADB !important;
}

.seccion-5 {
    background-color: #68FB61 !important;
}

.seccion-6 {
    background-color: #DDABFF !important;
}

.seccion-7 {
    background-color: #FF66FF !important;
}

.seccion-8 {
    background-color: #00CCFF !important;
}

/* Elementos de la Sección 1 */
.H {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.Li {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.Na {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.K {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.Rb {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.Cs {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
}

.Fr {
    grid-column: 1 / 2;
    grid-row: 7 / 8;
}

/* Elementos de la sección 2 */
.Be {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.Mg {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.Ca {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.Sr {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

.Ba {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

.Ra {
    grid-column: 2 / 3;
    grid-row: 7 / 8;
}

/* Elementos de la seccion 3 */


/* Elementos de la seccion 4 */
.Al {
    grid-column: 13 / 14;
    grid-row: 3 / 4;
}

.Ga {
    grid-column: 13 / 14;
    grid-row: 4 / 5;
}

.In {
    grid-column: 13 / 14;
    grid-row: 5 / 6;
}

.Ti {
    grid-column: 13 / 14;
    grid-row: 6 / 7;
}

.Nh {
    grid-column: 13 / 14;
    grid-row: 7 / 8;
}

.Sn {
    grid-column: 14 / 15;
    grid-row: 5 / 6;
}

.Pb {
    grid-column: 14 / 15;
    grid-row: 6 / 7;
}

.Fi {
    grid-column: 14 / 15;
    grid-row: 7 / 8;
}

.Bi {
    grid-column: 15 / 16;
    grid-row: 6 / 7;
}

.Mc {
    grid-column: 15 / 16;
    grid-row: 7 / 8;
}

.Lv {
    grid-column: 16 / 17;
    grid-row: 7 / 8;
}

/* Elementos de la seccion 5*/
.B {
    grid-column: 13 / 14;
    grid-row: 2 / 3;
}

.Si {
    grid-column: 14 / 15;
    grid-row: 3 / 4;
}

.Ge {
    grid-column: 14 / 15;
    grid-row: 4 / 5;
}

.As {
    grid-column: 15 / 16;
    grid-row: 4 / 5;
}

.Sb {
    grid-column: 15 / 16;
    grid-row: 5 / 6;
}

.Te {
    grid-column: 16 / 17;
    grid-row: 5 / 6;
}

.Po {
    grid-column: 16 / 17;
    grid-row: 6 / 7;
}

/* Decimocuarta columna */
.C {
    grid-column: 14 / 15;
    grid-row: 2 / 3;
}


/* Decimoquinta columna */
.N {
    grid-column: 15 / 16;
    grid-row: 2 / 3;
}

.P {
    grid-column: 15 / 16;
    grid-row: 3 / 4;
}

/* Decimosexta columna */
.O {
    grid-column: 16 / 17;
    grid-row: 2 / 3;
}

.S {
    grid-column: 16 / 17;
    grid-row: 3 / 4;
}

/* Decimoséptima columna */
.F {
    grid-column: 17 / 18;
    grid-row: 2 / 3;
}

.Cl {
    grid-column: 17 / 18;
    grid-row: 3 / 4;
}

/* Decimoctava columna */
.He {
    grid-column: 18 / 19;
    grid-row: 1 / 2;
}

.Ne {
    grid-column: 18 / 19;
    grid-row: 2 / 3;
}

.Ar {
    grid-column: 18 / 19;
    grid-row: 3 / 4;
}