/* Diseño en columnas */
.columnas {
    display: flex;
    gap: 10px;
    align-items: flex-end;
    /* Alinea las columnas por abajo */
}

.seccion-1,
.seccion-2 {
    display: flex;
    flex-direction: column;
}

/* Sección 3 con 4 filas */
.seccion-3 .fila,
.seccion-4 .fila,
.seccion-5 {
    display: flex;
}

/* Colores por sección */
.seccion-1 .elemento {
    background-color: #F7CAAC;
}

.seccion-2 .elemento {
    background-color: #FFE599;
}

.seccion-3 .elemento {
    background-color: #FFFF00;
}

.seccion-4 .elemento {
    background-color: #8EAADB;
}

.seccion-5 .elemento {
    background-color: #68FB61;
}

/* Estilo básico de las celdas de la tabla */
.elemento {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #000;
    margin: 5px;
    transition: background-color 0.3s;
}

/* Efecto hover */
.elemento:hover {
    background-color: #031FA2;
    color: white;
}

/* Diseño responsivo */
@media (max-width: 600px) {
    .columnas {
        flex-direction: column;
        align-items: flex-start;
        /* Volver a la alineación normal en pantallas pequeñas */
    }
}

@media (min-width: 601px) and (max-width: 800px) {

    .seccion-1,
    .seccion-2,
    .seccion-3 {
        display: flex;
        flex-direction: row;
    }

    .elemento:hover {
        background-color: #C11905;
        color: white;
    }
}

/* Más de 801px: no hay cambios */
